
* {
    margin: 0;
    padding: 0;
    
}

html {width: 1200px;
height: 2100px;}
/* .menu_list {
  text-decoration: none;
} */
.menu_item {
  display: inline-block;
}

nav { 
      text-transform: uppercase;
        font-family: 'Playfair Display', serif;
  font-size: 14px;
margin-top: 77px;

}

.menu_list {text-align: center; } 
 .a1 {text-decoration: none; margin-right: 122px; color: #626262;} 
 .a2 {text-decoration: none; margin-right: 104px; color: #626262;}
 .a3 {text-decoration: none; margin-right: 96px; color: #626262;}
 .a4 {text-decoration: none; color: #626262;}

 main {
   width: 903px;
  margin: 0 auto;
font-size: 0;  
} 
  

.div1{
  display: inline-block;
padding-top: 91px;

width: 420px;
margin-right: 60px;
/* font-size: 0px; */
/* letter-spacing: 0px; */
}



.div2{
display: inline-block;

padding-top: 91x; 
width: 419px;
/* font-size: 0px; */
}

.div1 a, .div2 a {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase ;
  padding-top: 32px;
  padding-bottom: 32px; 
  color: #b4ad9e;
}
  

 
.div1 h2, .div2 h2 {
    font-family: 'Playfair Display', serif;
    font-size: 30px; 
    color: #626262;   
}

.div1 p, .div2 p {
  display: inline-block;
width: 100%;

    font-family: 'Playfair Display', serif;
  font-size: 14px;
  line-height: 26px;
  color: #626262;
}

/* section a {color: #b4ad9e;} */

a {display: inline-block;}
img {display: inline-block;
}

.p_up_div1, .p_up_div2 {
  margin-bottom: 136px;
} 

.p_mid_div1, .p_mid_div2 {
  margin-bottom: 142px;
} 

.p_down_div1, .p_down_div2 {
  margin-bottom: 42px;}
  
/* h2 {display: inline-block;
width: 100%;
padding-bottom: 42px;} */

button {display: block;
margin: 0 auto;
width: 166px;
height: 60px;
font-family:'Playfair Display', serif;
font-size: 20px;
border: 1px solid rgb(10, 10, 10); 
background-color: transparent;} 

  /* .div1 p: last-child {padding-bottom: 140px;} */
  /* p last-child{padding-bottom: 40px;} */

 
/*.div1 {box-sizing: border-box;
width: 400px;
height 100px}
/*
.div2 {box-sizing: border-box;
    width: 400px;
    height 100px}}