.team {
  padding-top: 86px;

  &__description {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: $secondary-font-color;
    width: 960px;
    text-align: center;
    margin: 0 auto;
    margin-top: 43px;
    margin-bottom: 89px;
  }
  &__list {
    display: flex;
    justify-content: space-evenly;

    &-item {
      position: relative;

      &-position {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        line-height: 24px;
        font-weight: 300;
        font-style: italic;
        color: $secondary-font-color;
        margin-top: 6px;
        text-transform: capitalize;
        text-align: center;
      }

      &-name {
        font-family: $main-font;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
        text-transform: uppercase;
        color: $secondary-font-color;
        margin-top: 24px;
        text-align: center;
      }
      &:hover {
        .team__list-item-img {
          transform: translate(-10px, -11px);
          transition: all 0.2s linear;
        }
        .overlay {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.overlay {
  @extend %aline-center;
  background-image: linear-gradient(
    0deg,
    rgba(252, 227, 138, 0.85) 0%,
    rgba(243, 129, 129, 0.85) 100%
  );
  position: absolute;
  top: -11px;
  left: -10px;
  width: 380px;
  height: 470px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 10px 11px rgb(149, 225, 211);

  &__list {
    display: flex;

    &-item {
      width: 56px;
      height: 56px;
      background-color: rgb(252, 227, 138);
      @extend %aline-center;

      &:not(:last-child) {
        border-right: solid 1px rgb(243, 129, 129);
        background-clip: border-box;
      }

      &:hover {
        background-color: rgb(243, 129, 129);
        transition: linear 0.2s;
      }
      &:hover svg {
        fill: #ffffff;
      }
    }
  }
  &__facebook-svg {
    width: 14px;
    height: 26px;
    fill: #f38181;
  }
  &__twitter-svg {
    width: 26px;
    height: 22px;
    fill: #f38181;
  }
  &__pinterest-svg {
    width: 22px;
    height: 26px;
    fill: #f38181;
  }
  &__instagram-svg {
    width: 26px;
    height: 26px;
    fill: #f38181;
  }
}
